@import 'bulma/sass/helpers/color.sass';

$modal-card-title-size: $size-6;
$modal-card-head-background-color: $white-ter;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;
$menu-item-active-color: $text;
$menu-item-active-background-color: transparent;

@import 'bulma/bulma.sass';
@import 'bulma-list/sass/bulma-list.sass';
@import 'bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass';
@import 'bulma-extensions/bulma-divider/dist/css/bulma-divider.sass';

.is-100w {
  width: 100%;
}

.is-100vh {
  min-height: 100vh;
}

.is-100h {
  height: 100%;
}

.is-hoverable:hover {
  background-color: $white-bis;
}

.is-bordered {
  border: 1px solid $grey-lighter !important;
}
