@import "bulma/bulma.sass";

.is-100vh {
  min-height: 100vh;
}

.is-100h {
  height: 100%;
}

.is-border-none {
  border: none;
  box-shadow: none;
}

.has-border-bottom {
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 1em;
}
