@import 'bulma/sass/utilities/initial-variables.sass';

$primary: $blue;

@import 'bulma/sass/helpers/color.sass';

$modal-card-title-size: $size-6;
$modal-card-head-background-color: $white-ter;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;
$menu-item-active-color: $text;
$menu-item-active-background-color: transparent;

@import 'bulma/bulma.sass';

body {
  font-family: 'Roboto', sans-serif;
}

.has-display-1 {
  font-size: 4rem;
  font-weight: 600;
}

.has-background-gradient {
  background-image: linear-gradient(to right, rgb(239, 68, 68), rgb(59, 130, 246));
  color: white;
}

.has-text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, rgb(239, 68, 68), #485fc7);
  color: transparent;
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.is-hoverable:hover {
  background-color: $white-bis;
}

.is-bordered {
  border: 1px solid $grey-lighter !important;
}

.is-100vh {
  min-height: 100vh;
}

.is-100h {
  height: 100%;
}

.is-100w {
  width: 100%;
}

.is-75w {
  width: 75%;
}

.is-50w {
  width: 50%;
}

.is-border-none {
  border: none;
  box-shadow: none;
}

.has-border-bottom {
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 1em;
}
