// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'bulma/sass/utilities/initial-variables.sass';
// @import 'bulma-calendar/dist/css/bulma-calendar.min.css';

// Set your brand colors
$primary-color: #4069ff;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
$primary: $primary-color;
$link: $primary-color;

// Update some of Bulma's component variables
$control-border-width: 2px;
// $input-background-color: $beige-lighter;
$input-border-color: $beige-lighter;
// $input-shadow: none;

@import 'bulma/sass/helpers/color.sass';

$modal-card-title-size: $size-6;
$modal-card-head-background-color: $white-ter;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;
$menu-item-active-color: $primary;
$menu-item-active-background-color: transparent;

@import 'bulma/bulma.sass';

.has-display-1 {
  font-size: 4rem;
  font-weight: 600;
}

.has-background-gradient {
  background-image: linear-gradient(to right, rgb(239, 68, 68), rgb(59, 130, 246));
  color: white;
}

.has-text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, rgb(239, 68, 68), #485fc7);
  color: transparent;
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.is-hoverable:hover {
  background-color: $white-bis;
}

.is-100vh {
  min-height: 100vh;
}

.is-100h {
  height: 100%;
}

.is-100w {
  width: 100%;
}

.is-75w {
  width: 75%;
}

.is-50w {
  width: 50%;
}

.is-border-none {
  border: none;
  box-shadow: none;
}

.has-border-bottom {
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 1em;
}

.is-bordered {
  border: 1px solid $grey-lighter;
}
